* {
    margin: 0;
    padding: 0;
}
body{background: #f0f3f6;font-family: verdana}

.logo{height: 115px;line-height: 80px;text-align: center;font-family: verdana;color: #fff;font-size: 28px;}
.logo .blue{color:#59c2e6}

.sidebar {
    background-color: #3a4651;
    width: 230px;
    padding-bottom: 60px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    -webkit-transition: left 0.3s ease;
    transition: left 0.3s ease;
    z-index: 20;
}

.scrollable-list{overflow-y:scroll; overflow-x:hidden;height: 380px;margin-top: 10px;}

.scrollable-list::-webkit-scrollbar {
    width: 10px;
}
 
.scrollable-list::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
.scrollable-list::-webkit-scrollbar-thumb {
  background-color: #59c2e6;
  outline: 1px solid slategrey;
}
.firstlist{font-size: 16px;color: rgba(255, 255, 255, 0.5);height: 38px;line-height: 38px;cursor: pointer;padding-left: 18px;}


.firstlist:hover{color: #ffffff;background-color: #2d363f;}
.firstlist.actv{color: #ffffff;background-color: #2d363f;}
#search {
    display: block;
    position: relative;
}

#s {
    width: 213px;
    background: #272727;
    padding: 8px 36px 8px 11px;
    border: 0;
    color: #eee;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;outline: none;box-sizing:border-box;margin-left: 7px;position: relative;
}

.sbtn {
    display: block;
    position: absolute;
    right: 5px;
    top: 13px;
    background: none;
    border: none;
    color: #bcbcbc;
    font-size: 0.6em;
    cursor: pointer;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.rgt-main{margin-left: 230px;margin-top: 11px;}


.table-main{overflow-y:scroll; overflow-x:hidden;height: 314px;}

.table-main::-webkit-scrollbar {
    width: 5px;
}
 
.table-main::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
.table-main::-webkit-scrollbar-thumb {
  background-color: #59c2e6;
  outline: 1px solid slategrey;
}
.table1{width: 400px;margin-left: 60px;background: #fff;height: 400px;}
#id1{padding: 10px}
header{border-bottom: 2px solid #eceeef;border-top: 1px solid #eceeef;overflow: hidden;}
header p{float: left;width: 190px;margin-bottom: 0;height: 35px;line-height: 35px;font-size: 16px;color: #4f5f6f;font-weight: bold;}
header span{display: block;padding-left: 15px;}
.secondlist{cursor:pointer;font-size: 16px;color: #4f5f6f;margin-bottom: 0;height: 35px;line-height: 35px;border-bottom: 1px solid #eceeef;overflow: hidden;}
.secondlist span{display: block;width: 187px;float: left;padding-left: 15px;}

#srch {
    width: 100%;
    background: #fff;
    padding: 8px 11px;
    border: 0;
    color: #aaa;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;outline: none;box-sizing:border-box;font-size: 16px;
}

.searchform{position: relative;}
.search-icon{width: 22px;height: 20px;position: absolute;right: 18px;top: 8px;background: url(../img/searchbutton.png) left center no-repeat;}
.search-icon2{width: 22px;height: 20px;position: absolute;right: 18px;top: 9px;background: url(../img/searchbutton-dark.png) left center no-repeat;}

#id2{width: auto;background: #fff;margin-bottom: 20px;padding: 9px 20px 0 20px;}
#id2 p{display: inline-block;padding: 0 33px 0 10px;height: 30px;line-height: 30px;margin-right: 15px;border-radius: 30px;background: #ddd;position: relative;}

#form1{margin-bottom: 20px;overflow: hidden;margin-left: 22px;}
#topbar{width: 100%;
    position: relative;
    overflow: hidden;
    float: none;}

    .clse{position: absolute;width: 15px;height: 15px;font-size: 18px;color:#999;font-weight: bold;line-height: 15px; right: 3px;top: 6px;}
    #id2 p:hover .clse{color: #000;cursor: pointer;opacity: .7}

    .leftdate{width: 184px;float: left;margin-right: 20px;}