<!doctype html>
<html><head>
   <title>Fields</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/bootstrap.min.css') }}">
<script>
    var theUrl = "http://172.16.164.100:5000/query?";
    the
    var myset = {};
    var selectedField = "";
    function genUrl(){
        var url = "";
        var cnt = 0;
        for (var key in myset){
            if(myset.hasOwnProperty(key)){
                for (var value in myset[key]){
                    if(myset[key].hasOwnProperty(value)){
                        cnt++;
                        url+="&vfield" + cnt + "=" + key + "&vvalue" + cnt + "=" + value;
                    }
                }
            }
        }
        return url;
    }
    function getUrl(){
        var start_date = document.getElementById("sd").value;
        var end_date = document.getElementById("ed").value;
        var localUrl = theUrl + "field=" + selectedField + "&startdate=" + start_date + "&enddate=" + end_date + genUrl();
        return localUrl
    }

    function myFunction(field){
        selectedField = field;
        httpGetAsync(getUrl());
    }


    function myFunction2(fieldh,id){
       if(myset[fieldh]){
            if(!myset[fieldh][id]){
                addfilter(fieldh,id);
            }
            myset[fieldh][id] = 1;
        }
        else{
            addfilter(fieldh,id);
            myset[fieldh] = {};
            myset[fieldh][id] = 1;
        }
        httpGetAsync(getUrl());
    }


    function addfilter(fieldh,id){
        var para = document.createElement("p");
        para.onclick = function(event){
            var filterdata = event.target.innerText;
            var res = filterdata.split(":");
            delete myset[res[0]][res[1]];

            var xmlHttp = new XMLHttpRequest();
            xmlHttp.onreadystatechange = function() {
                if (xmlHttp.readyState == 4 && xmlHttp.status == 200){
                    processResponse(xmlHttp.responseText);
                }
                else{
                    console.log("Cannot get Request!!!");
                }
            }
            xmlHttp.open("DELETE", getUrl(), true); // true for asynchronous
            xmlHttp.send(null);
            var parent = this.parentNode;
            parent.removeChild(this);
        }

        var toappend = fieldh + ':' + id;
        var node = document.createTextNode(toappend);
        para.appendChild(node);
        var element = document.getElemenById("id2");
        element.appendChild(para);
    }

    function httpGetAsync(Url)
    {
        var xmlHttp = new XMLHttpRequest();
        xmlHttp.onreadystatechange = function() {
            if (xmlHttp.readyState == 4 && xmlHttp.status == 200){
                processResponse(xmlHttp.responseText);
            }
            else{
                console.log("Cannot get Request!!!");
            }
        }
        xmlHttp.open("GET", Url, true); // true for asynchronous
        xmlHttp.send(null);
    }

function processResponse(responseText){
    console.log(responseText);
    var arr = JSON.parse(responseText);
    var out = "";
    var i;
    var fieldh = arr[0].field;
    for(i = 1; i < arr.length; i++) {
        out += '<p id="'+arr[i].key+'" onclick=\'myFunction2("'+fieldh+'", "'+arr[i].key+'")\'><span class="key">' + arr[i].key + '</span><span class="value">' + arr[i].doc_count + '</span></p>';
    }
    document.getElementById("id1").innerHTML = out;
}

</script>

</head>

<body>

<div class="row" style ="padding:10px">
  <div class="col-lg-4">
    {% for field in fields %}
    <div id="{{field}}" onclick="myFunction('{{field}}')">{{ field }}</div>
    {% endfor %}

  </div>

  <div class="col-lg-4">
    <div id="id1" align="left"></div>
  </div>

  <div class="col-lg-4">
     <form id="form1">
      Start Date:<br>
      <input type="text" name="startdate" value="2011-01-22T21:22:58"  id="sd">
      <br>
      End Date:<br>
      <input type="text" name="enddate" value="2017-01-22T21:22:58"  id="ed">
    </form>
    <div id="id2" align="left"></div>
  </div>
</div>

</body>

</html>