<!doctype html>
<html><head>
     <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/jquery-ui.css') }}">

   <script src="{{ url_for('static', filename='js/jquery-ui.js') }}"></script>
     <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/datetimepicker.css') }}">
   <script src="{{ url_for('static', filename='js/datetimepicker.js') }}"></script>

  <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/bootstrap.min.css') }}">
   <script src="{{ url_for('static', filename='js/highcharts.js') }}"></script>
   <script src="{{ url_for('static', filename='js/exporting.js') }}"></script>

   <script src="{{ url_for('static', filename='js/graph.js') }}"></script>
   <script src="{{ url_for('static', filename='js/my-js.js') }}"></script>

   
  

<style type="text/css">
.header { 
    overflow: hidden;
    border-bottom: 1px solid #e5e5e5;
    background:#f8f8f8;
}
.heading {
    line-height: 40px;
    font-size: 25px;
    overflow: hidden;
    word-wrap: break-word;
    position: relative;
    margin-bottom: 15px;width:205px;float:left;margin-left:20px;
}
.functions {
    overflow: hidden;
    line-height: 24px;
}
form#form1 {
    float: left;
    overflow: hidden;
    margin-right: 15px;
    padding: 10px 25px;
    border: 1px solid #f0f0f0;
    font-weight: bold;
    color: #666;
}
.ddscont {
    overflow: hidden;
    line-height: 24px;
    padding: 10px 5px;
    border: 1px solid #f0f0f0;
    float: left;
    font-weight: bold;
    color: #666;
}
.dds {
    overflow: hidden;
    line-height: 50px;
    float: left;
    margin-right: 15px;
}
.functions input, .functions select {
    line-height: 20px;
    padding: 0px 5px;
    font-size: 14px;
    margin: 0 3px;
    font-weight: normal;
}
select#drop-down-gb {
    height: 24px;
}
select#drop-down-pb {
    height: 24px;
}
.btndd {
    overflow: hidden;
    float: left;
    margin-left: 20px;
    line-height: 45px;
    height: 45px;
}
button#query--submit {
    line-height: 30px;
    height: 30px;
    background: #fafafa;
    color: #666;
    padding: 0px 15px;
    font-size: 13px;
    margin: 0;
    border: 1px solid #ccc;
    border-radius: 2px;
}
.filters {
    overflow: hidden;
    padding: 15px 21px;
}
.filters span {
    float: left;
    overflow: hidden;
    font-size: 16px;
    line-height: 24px;
}
.removeClass {
    float: left;
    padding: 0 35px 0 10px;
    background: #eaeaea;
    border-radius: 10px;
    line-height: 24px;
    margin: 0 5px;
    font-size: 13px;
    font-weight: bold;
}

.col-lg-4 {
    float: right;
}
.tabular {
    overflow:hidden;
}

.tabdv {
    overflow: hidden;
    margin-bottom: 15px;
    float: left;
    margin-right: 20px;
    min-width: 250px;
    height: 370px;
    max-width: 100%;
}
.tabdv u {
    display: block;
    height: 27px;
    line-height: 25px;
    background: #f1f2f3;
    padding: 0 8px;
    text-transform: capitalize;
    font-size: 15px;
    border: 1px solid #c2d0db;
    border-bottom: 2px solid #c2d0db;
    text-decoration: none !important;
    color: #25292c;
    position:relative;
}
.addClass {
    line-height: 25px;
    font-size: 14px;
    margin: 5px 0px;
    padding-right: 10px;
    overflow: hidden;
    word-wrap: break-word;
    cursor: pointer;
    padding: 0 10px;
}
.removeClass {
    position:relative;
}
.addClass:hover {
    background: #eaeaea;
}
span.value {
    display: block;
    margin-right: 15px;
    overflow: hidden;
    word-wrap: break-word;
    float: left;
}
span.count {
    float: right;
    overflow: hidden;
}
span.search {
    position: absolute;
    width: 18px;
    height: 18px;
    right: 8px;
    top: 3px;
    background: url("{{ url_for('static', filename='img/searchicn.png') }}") no-repeat center center;
    cursor:pointer;
    z-index:9999;
}
span.X {
    position: absolute;
    width: 18px;
    height: 18px;
    right: 0px;
    top: 3px;
    cursor: pointer;
    z-index: 9999;
    font-size: 13px;
    color: #222;
    line-height: 18px;
}
.srbx {
    background: #e0e0e0;
    overflow: hidden;
    display: none;
}

input.searchinput {
    width: 96%;
    border: 1px solid #d5d5d5;
    line-height: 28px;
    padding: 0 5px;
    font-size: 14px;
    margin: 5px 2%;
}

.entries {
    overflow: hidden;
}
.main-tabs{width:70%;overflow:hidden;height: 40px;line-height: 40px;margin-bottom: 20px;}
.main-tabs ul{padding:0;}
.main-tabs ul li{display: inline-block;}
.main-tabs ul li a{padding: 0 25px;display: block;font-size: 16px;color: #555;}
.main-tabs ul li a:hover{text-decoration:none}
.main-tabs ul li.actv{background:#CCC}

</style>
</head>
<body>
<div class="header">
  <div class="heading">MediaNet  Z-plots</div>
  <div class="main-tabs">
    <ul>
        <li class="listt"><a href="/Cm">CM</a></li>
        <li class="listt"><a href="/Keyword">Keyword</a></li>
        <li class="listt"><a href="/Header Bidder">Header Bidder</a></li>
        <li class="listt"><a href="/Apps">Apps</a></li>
        <li class="listt"><a href="/Erpm">ERPM</a></li>
    </ul>
  </div>
  <div class="functions">
      <form id="form1">
        Start Date:
        <input type="text" name="startdate" value="2016-10-01 00:00"  id="date-sd">
        End Date:
        <input type="text" name="enddate" value="2016-10-01 23:59"  id="date-ed">
      </form>

      <div class="ddscont"><button id="query--submit" type="button" class="btn btn-lg">Go</button></div>

      <div class="btndd">
          <div class="dds dd1">
            Compare:
            <select id ="drop-down-co">
              <option value="cumulative">cumulative</option>
              {% for key in dimensions %}
                 <option value="{{key[0]}}">{{key[1]}}</option>
              {% endfor %}
            </select> 
          </div>
          <div class="dds dd2">
            
            graphType:
                    <select id="drop-down-gt">
                    <option value="standard">standard</option>
                    <option value="cohort">cohort</option>
                    </select>
            plotBy:
                    <select id="drop-down-pb">
                    <option value="hour">hour</option>
                    <option value="day">day</option>
                    <option value="week">week</option>
                    </select>
            MetricType:
            <select id="drop-down-mt">
                {% for key in metrics %}
                     <option value={{key[0]}}>{{key[1]}}</option>
                {% endfor %}
            </select>
          </div>
      </div> 
      
        

  </div>
  <div class="filters"><span>Filters: </span></div>
</div>
<div class="row" style ="padding:10px">
  <div class="col-lg-6">
   {% for key in metrics %}
      <div class=graph-{{key[0]}}> </div>
    {% endfor %}
  </div>
  <div class="col-lg-6">
      <div class=tabular>
        {% for key in dimensions %}
        <div id={{key[0]}} class="tabdv">
            <u>{{key[1]}}<span class="search"></span></u> 
            <div class="srbx"><input type="text" class="searchinput" placeholder="Search" /></div>
            <div class="entries"> </div>
        </div>
        {% endfor %}
      </div>
  </div>
</div>
</body>
</html>

<script>
    $('#date-sd').datetimepicker({
            dateFormat: 'yy-mm-dd'
        });
    $('#date-ed').datetimepicker({
        dateFormat: 'yy-mm-dd'
    });

    $('.listt').click(function() {
    $('.listt').removeClass('actv');
    $(this).addClass('actv');
});
</script>